Flow 2.txt
[{"id":"6e3d9804.4865b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"89c3582c.027448","type":"inject","z":"6e3d9804.4865b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"5","x":90,"y":260,"wires":[["449cfea2.f38a"]]},{"id":"449cfea2.f38a","type":"function","z":"6e3d9804.4865b8","name":"","func":"msg.headers={\n    devicekey:\"WRSRoEAx1U0wxgbD\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":340,"wires":[["6012ab5d.ca5064"]]},{"id":"d44d11c4.5d1b","type":"http response","z":"6e3d9804.4865b8","name":"","statusCode":"","headers":{},"x":750,"y":320,"wires":[]},{"id":"6012ab5d.ca5064","type":"http request","z":"6e3d9804.4865b8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DdzxEAhw/datachannels/Temperature/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":320,"wires":[["d44d11c4.5d1b","d72a9d71.56645"]]},{"id":"d72a9d71.56645","type":"debug","z":"6e3d9804.4865b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":440,"wires":[]}]